
	.logo{
  width: 164px;
  height: 50px;
  object-fit: contain;
  margin-top:20px;
}

.outline{
	height:640px;
	width:360px;
	border:1px solid black;
	padding-left:20px;
	padding-right:20px;
	
}


.text {
  width: 321px;
  height: 73px;
  font-family: Muli;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  margin-top:50px;
  margin-bottom:26px;
  
}


.flex-container{
  width: 23px;
  height: 25px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  float:left;
  margin-right:5px;
 
}
.no{
  width: 11px;
  height: 17px;
  font-family:Muli;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3e3e3c;
  margin:4px;
}

.nolast{
  width: 11px;
  height: 17px;
  font-family:Muli;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3e3e3c;
  margin:4px;
  padding-right:3px;
}

.Highly-unlikely {
  width: 42px;
  height: 24px;
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #706e6b;
  float:left;
}

.Highly-likely {
  width: 36px;
  height: 24px;
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #706e6b;
  float:right;
}


